body{
	margin:72px;
	background-color: #33E7FF;
}
body{font-family: courier, monospace;
}
h1{
	font-family: courier, monospace;
}
h2{font-family: courier, monospace;
}
h3{font-family: courier, monospace;
}


